@charset "UTF-8";
	
	body{
	background-color:#c0c0c0;
	margin: 0px;
	font-family: "IBM Plex Sans KR", sans-serif;
	
	}
  .header {
      height: 70px;
      line-height: 70px;
      display: flex;
      justify-content: space-between;
      background-color: #2D2A28;
     box-shadow : 0px 2px 4px 8px;
     box-sizing:border-box;
    }

    .header .title {
      font-size: 25px;
      margin-left: 70px;
      font-weight: bold;
      color: white;
    }
    
    .header .title2 {
    	font-size:20px;
    	color:#606060;
    	margin-left: 20px;
    	font-weight:bold;
    }
    
    .headerBtn {
    margin-right:30px;
    font-size: 13px;
    font-weight:600;
    border:none;
    border-radius:5px;
    color:black;
    background-color: white;
    margin-top:25px;
    font-family: "IBM Plex Sans KR", sans-serif;
    cursor:pointer;
    }
    
    .section {
      width: 100%;
      display: flex;
      background-color:white;
    }

	
    .info-title {
      margin-bottom: 10px;
    }

    .info-title > span{
      font-size: 30px;
      color: white;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .info-middle > span {
      margin-top: 30px;
      font-size: 20px;
      color: white;
      font-weight: 500;

    }


    .sidenav{
      width: 300px;
      height: 1150px;
      display: flex;
      flex-direction: column;
      background-color: #DEDEDE;
    }

    .sidenav .menu {
    
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      font-size: 15px;
      color: black;
    }
    
    .sidenav .menu1 a {
    color:#606060;
    text-decoration: none;
    }
    
   
    .sidenav .menu > span {
      margin-left: 15px;
    }

    .sidenav .menu1 {
      height: 60px;
      line-height: 60px;
    }

    .sidenav .menu1 > span {
      margin-left: 40px;
      font-size: 13px;
      font-weight: bold;
      color: black;
    }

    .sidenav .menu2 {
      height: 60px;
      line-height: 60px;
    }


    .sidenav .menu2 > span {
      margin-left: 40px;
      font-size: 13px;
      font-weight: bold;
      color: #606060;
    }

    .sidenav .menu3 {
      height: 60px;
      line-height: 60px;
      padding:0;
    }

   

    .sidenav .menu3 > span {
      margin-left: 40px;
      font-size: 13px;
      font-weight: bold;
      color: #606060;
    }

    .sidenav .menu4 {
      height: 60px;
      line-height: 60px;
    }

  
    .sidenav .menu4 > span {
      margin-left: 40px;
      font-size: 13px;
      font-weight: bold;
      color: #606060;
    }
    
    .footer {
    	height:70px;
    	background-color:#2D2A28; 
    	padding: 20px;
    	border-top: 3px solid #ccc; 
    	box-sizing:content-box;
    	padding-bottom:40px;
    }
    
    .footer p {
    	margin: 0;
    	color : #606060;
    	font-size:15px;
    	font-weight: bold;
    	margin-left:60px;
    }