@charset "UTF-8";

     .wrap{
      width: 1400px;
      margin: 0 auto;
    }
	
	
    .reg-title {
      border-top: 2px solid #000;
      border-bottom: 3px solid #ccc;
      padding-left: 10px;
      margin-top : 50px;
      background-color:#DEDEDE;
    }
    
     .reg-title > p {
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;

    }
    
    .first{
    background-color:#DEDEDE;
    }
	
    .middle {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #000;
      padding-bottom: 50px;
    }

    .middle .total {
      margin-left: 40px;
      font-size: 20px;
      font-weight: 700; 
    }

    .middle .search {
      margin-right: 40px;
      padding-top: 6px;
    }

    .middle .search input {
      border: none;
      border-bottom: 2px solid #ccc;
      padding: 14px;
    }

    .middle .search select {
      border: none;
      padding: 13px;
      border-bottom: 2px solid #ccc;
      font-weight: 700;
      background-color:#DEDEDE;
      border-radius: 10px;
      color: black
    }
    .middle .search button {
      border: none;
      padding: 13px;
      border-bottom: 2px solid white;
      cursor: pointer;
      font-weight: bold;
      background-color: #DEDEDE;
      border-radius: 10px;
    }
    
    .content-wrap {
      width: 100%;
      padding: 10px;
      border-collapse: collapse;
    }

    .content-wrap .first td {
      padding: 20px;
      text-align: center;
      font-weight: bold;
    }

    .content-wrap tr {
      border-bottom: 1px solid #ccc;
    }

    .content-wrap .first {
      border-bottom: 3px solid #ccc;
    }
    .content-wrap td {
      padding: 20px;
      text-align: center;
    }
    
    .pname > a {
    text-decoration:none;
    color:black;
    }

    .content-wrap .update {
      background-color: skyblue;
      border: none;
      font-size: 15px;
      font-weight: bold;
      border-radius:10px;
      cursor:pointer;
      color:black;
      font-family: "IBM Plex Sans KR", sans-serif;
    }
    
    .content-wrap .apply {
      background-color:#CCCCCC;
      color: black;
      border: none;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      border-radius:10px;
      font-family: "IBM Plex Sans KR", sans-serif;
    }

    .page-wrap {
      text-align: center;
      margin-top: 50px;
    }

    .page-wrap > span {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 10px;
    }

    .page-wrap > span > a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }


    .page-wrap > span:hover {
      background-color:#CCC;
    }

    .reg-wrap{
      text-align: right;
      padding-right: 70px;
      margin-top: 20px;
    }

    .reg-wrap > button {
      cursor: pointer;
      padding: 8px;
      border-radius: 10px;
      background-color: #CCC;
      border: none;
      font-weight: 600;
      font-family: "IBM Plex Sans KR", sans-serif;
    }
    
    .page {
    	ul,li {
    	 list-style:none;
    	}
    	display : flex;
    	justify-content: center;
    }
    
    .page ul {
    	display: flex;
    	padding : 0;
    }
    
    .page ul li {
    	display: inline-block;
    	width : 50px;
    	text-align : center;
    }
    
    .page ul li.on{
    	border: 1px solid #ccc;
    }
    
    .page ul li a {
    	text-decoration: none;
    	font-size:17px;
    	font-weight:bold;
    	color : black;
    }