<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>의료기기 대여 신청</title>
<link rel="stylesheet" href="/css/programList.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
	body{
		background-color: cadetblue;
	}
	form {
		background-color: rgb(100, 147, 235);
		color: yellow;
	}
	form > select > option{
		font-size: 20px;
	}
	form > p{
		font-size: 16px;
		font-weight: 700;
	}
	input{
		width: 160px;
		height: 25px;
		font-size: 14px;
		
	}
</style>
</head>

<body>
	<script>
		window.resizeTo(900, 1050);
		
	</script>
	<section class="wrap2">
	<h2 class="reg-title">의료기기 대여등록 페이지</h2>
	<div>
		<table class="content-wrap">
			<tr class="first">
				<td>물품명</td>
				<td>잔여</td>
			</tr>
			<tr th:each="vo,status : ${equipList}">
				<td>[[${vo.ISTR_NM}]]</td>
				<td>[[${vo.ISTR_QTY}]]</td>							
			</tr>
		</table>
	</div>
	<form action="rentRegForm" method="post">
		<p>학번</p>
		<input type="text" value="" readonly="readonly" name="USERNAME" id="USERNAME">
		
		<p>대여물품을 선택하세요</p>
		<select name="ISTR_NM" id="ISTR_SEC" required="required">
		
		<th:block th:each="vo : ${equipList}">
			
			<script>
				$("#ISTR_SEC").change(function(e){
					$("#ISTR_NM_BIG").html($(e.target).val());		
				});
			</script>
			<option>
				[[${vo.ISTR_NM}]]
			</option>
			
			
		</th:block>
			
		</select>
		<p id="ISTR_NM_BIG"></p>
		
		<p>대여 갯수</p>
		<input type="number" name="RNTL_QTY" id="rntlQty" required="required">
		
		
		<p>대여 일자</p>
		<input type="date" name="RNTL_YMD" value="" id="dateDefault" required="required">
		<p></p>
		<input type="submit" value="등록" class="sBtn">
		<input type="button" value="닫기" id="closeBtn" class="sBtn">
	</form>
	</section>
</body>
	<script>
		$(".wrap2").css({
			"width" : "800",
			"margin":"0 auto"
		});
		$("#closeBtn").click(function(){
			window.close();
		});

		var currentUser=localStorage.getItem("currentUser");
		$("#USERNAME").attr("value",currentUser);
		
	</script>
</html>