<html xmlns:th="http://www.thymeleaf.org"  
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/css/programReg.css">
<link rel="stylesheet" th:href="@{/css/adminMain.css}">

<style>
	.mainApply {
		padding:10px;
		font-size:13px;
	}
	
	.first{
	 text-align:center;
	}
	
	.programContent {
		width:700px;
		height:450px;
		margin-top: 15px;
		background-color:#DEDEDE;
	}
	
	.machineContent {
		width:700px;
		height:450px;
		margin-top: 15px;
		background-color:#DEDEDE;
	}

</style>



<th:block th:replace="~{./include/baseLayout :: setContent(~{ :: .wrap})}">
	<div class="wrap">
		<div class="middle">
		<div class="welcome">
			<p>중앙 포털 우리 보건실에</p>
			<p class="middle-hi">오신 것을 환영합니다</p>
			<th:block sec:authorize="isAuthenticated()">
			<p class="middle-name">[[${#authentication.principal.username}]]님 안녕하세요<p>
			</th:block>
		</div>
		</div>
		<div class="middle-content">
			<div class="programList">
				<div class="name-wrap"><a th:href="@{programApply}">프로그램 신청내역</a></div>
				<div class="programContent">
				<table class="mainApply">
				<tr class="first">
					<td>번호<td>
					<td>학번<td>
					<td>이름<td>
					<td>전화번호<td>
					<td>이메일<td>
					<td>학과<td>
					<td>신청프로그램<td>
					<td>수락여부<td>
					<td>수료<td>
				</tr>
				<th:block th:each="vo,status : ${list}">
				<tr class="first">
					<td>[[${status.count}]]<td>
					<td>[[${vo.USERNAME}]]<td>
					<td>[[${vo.USER_NM}]]<td>
					<td>[[${vo.USER_TELNO}]]<td>
					<td>[[${vo.USER_EML_ADDR}]]<td>
					<td>[[${vo.SCSBJT_NM}]]<td>
					<td>[[${vo.EVNT_NM}]]<td>
					<td>[[${vo.EVNT_REG_YN}]]<td>
					<td>[[${vo.EVNT_END_YN}]]<td>
				</tr>
				</th:block>
				</table>
				</div>
			</div>
			<div class="machineList">
				<div class="name-wrap"><a>상담내역</a></div>
				<div class="machineContent">
				<table class="mainApply">
				<tr class="first">
					<td>번호<td>
					<td>상담명<td>
					<td>작성일자<td>
					<td>작성내용</td>
				</tr>
				<th:block>
				<tr class="first">
					<td><td>
					<td><td>
					<td><td>
					<td><td>
				</tr>
				</th:block>
				</table>
				</div>
			</div>
		</div>
	</div>
</html>
