<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/programReg.css">

<th:block th:replace="~{./include/baseLayout :: setContent(~{ :: .wrap})}">
	 <div class="wrap">
      <div class="reg-title">
        <p>프로그램 상세정보</p>
      </div>
      <form action="programUpdate" method="POST">
      <div class="reg-content">
        <div>
          <p>프로그램 명칭 : </p>
          <div><input type="text" th:value="${vo.EVNT_NM}" name="EVNT_NM"></div>
          <input type="hidden" th:value="${vo.EVNT_NO}" name="EVNT_NO">
        </div>
        <div>
          <p>신청시작일 : </p>
          <div><input type="date" th:value="${#strings.substring(vo.EVNT_APLY_BGNG_YMD,0,10)}" name="EVNT_APLY_BGNG_YMD"></div>
        </div>
        <div>
          <p>신청마감일 : </p>
          <div><input type="date" th:value="${#strings.substring(vo.EVNT_APLY_END_YMD,0,10)}" name="EVNT_APLY_END_YMD"></div>
        </div>
        <div>
          <p>프로그램 시작일 : </p>
          <div><input type="date" th:value="${#strings.substring(vo.EVNT_BGNG_YMD,0,10)}" name="EVNT_BGNG_YMD"></div>
        </div>
        <div>
          <p>프로그램 종료일 : </p>
          <div><input type="date" th:value="${#strings.substring(vo.EVNT_END_YMD,0,10)}" name="EVNT_END_YMD"></div>
        </div>
      <div>
          <p>프로그램 장소 : </p>
          <div><input type="text" th:value="${vo.EVNT_PLC_NM}" name="EVNT_PLC_NM"></div>
        </div>
      </div>
      <div class="info">
        <p>프로그램 내용 : </p>
        <div><textarea cols="30" rows="10" name="EVNT_CN">[[${vo.EVNT_CN}]]</textarea></div>
      </div>
      <div class="reg-button">
       	<input type="submit" value="수정" class="reg">
        <button type="button" class="list">목록</button>
      </div>
       </form>
    </div>
</html>
