<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamus.medic.pa_log.service.Pa_logMapper">

    <insert id="regist">
        insert into PA_LOG(MDEXM_CN,
                           MDEXM_CN2,
                           MDEXM_QTY,
                           USERNAME,
                           DSS_CODE)
        values (#{mdexmCn},
                #{mdexmCn2},
                #{mdexmQty},
                #{USERNAME},
                #{dssCode})
    </insert>

    <select id="getListPop" resultType="UserVO">
        select *
        from USER
        where 1 = 1
        <if test="searchName != '' and searchName != null">
            <![CDATA[and USERNAME like concat('%', #{searchName} ,'%')
               or USER_NM like concat('%', #{searchName} ,'%')]]>
        </if>
        <!--        <if test="searchName != '' and searchName != null">-->
        <!--            <![CDATA[and USER_NM like #{searchName}]]>-->
        <!--        </if>-->
    </select>

    <select id="getListPaLog" resultType="Pa_logVO">
        SELECT  MDEXM_BNO,
                MDEXM_YMD,
                MDEXM_CN,
                MDEXM_CN2,
                MDEXM_QTY,
                DSS_CODE
        FROM PA_LOG
        WHERE USERNAME = #{query}
    </select>

    <select id="getUser" resultType="UserVO">
        Select *
        from user
        where USERNAME = #{query};
    </select>

    <!--    USER NO 는 바꿔야할 것임.-->
    <insert id="logInsert">
        insert into PA_LOG (MDEXM_CN,
                            MDEXM_CN2,
                            MDEXM_QTY,
                            USERNAME,
                            DSS_CODE)
        values (#{MDEXM_CN},
                #{MDEXM_CN2},
                #{MDEXM_QTY},
                #{USERNAME},
                #{DSS_CODE})
    </insert>

    <select id="getDetailPaLog" resultType="Pa_logVO">
        SELECT  MDEXM_BNO,
                MDEXM_YMD,
                MDEXM_CN,
                MDEXM_CN2,
                MDEXM_QTY,
                DSS_CODE
        FROM PA_LOG
        WHERE MDEXM_BNO = #{MDEXM_BNO}
    </select>

</mapper>